include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include core_crm *.css
recursive-include core_crm *.csv
recursive-include core_crm *.html
recursive-include core_crm *.ico
recursive-include core_crm *.js
recursive-include core_crm *.json
recursive-include core_crm *.md
recursive-include core_crm *.png
recursive-include core_crm *.py
recursive-include core_crm *.svg
recursive-include core_crm *.txt
recursive-exclude core_crm *.pyc